body {
  font-family: PancakeFont, FallbackFont, sans-serif;
  font-size: 1em;
  background-color: #F5F5F5;
  padding-top: 70px;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.profile {
  padding: 2vw;
  position: relative;
  justify-content: center;
}

div.passage-cards {
  padding:  0 0 0;
}

h1 {
  position: relative;
  text-align: center;
  padding: 1vw;
}

#newCard {
  background-color: #e0e1e2;
  padding: 2em;
}

#card:hover #extraContent {
  display: block;
}

#extraContent {
  display: none;
}

#card {
  min-height: 167.41px;
}
.checkbox-spaces {
  margin-left: 1rem;
}

#landing-cards{
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 270px;
  padding-bottom: 20px;
}

#landing-cards:hover .card-landing{
  background-color: #f9f2fc;
}

.description {
  padding-bottom: 0.5em;
}

@media print {
  .ui.borderless.stackable.top.fixed.navbar.menu, #slidebarWrapper {
    display: none;
    height: 0;
  }
  .corner-button, .question {
    display: none;
  }

  h3.documentTitle {
    position: absolute;
    margin-top: 0;
    z-index: 10;
    top: -50px;
  }
}

#public-private-toggle input:checked~.box:before,  #public-private-toggle input:checked~label:before {
  background-color: purple!important;
  color: rgba(0,0,0,.6);
}

#public-private-toggle {
  margin: 0 .25rem 0 .25rem;
  padding: 0;
  float: right;
  height: 35px;
  background-color: #e0e1e2;
  line-height: 1rem;
  border: none;
}

#public-private-toggle label {
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 14px;
}

#public-private-toggle>.ui.toggle.checkbox {
  margin-top: 8px;
}

#flex-buttons-form {
  justify-content: flex-end;
  display: flex;
  margin: 1rem 0;
}