body {
  font-family: PancakeFont, FallbackFont, sans-serif;
  font-size: 1em;
  background-color: #F5F5F5;
  padding-top: 70px;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.profile {
  padding: 2vw;
  position: relative;
  justify-content: center;
}

div.passage-cards {
  padding:  0 0 0;
}

h1, h2 {
  position: relative;
  text-align: center;
  padding: 1vw;
}

#newCard {
  background-color: #e0e1e2;
  padding: 2em;
}

#card:hover #extraContent {
  display: block;
}

#extraContent {
  display: none;
}

#card {
  min-height: 167.41px;
}
.checkbox-spaces {
  margin-left: 1rem;
}

.description {
  padding-bottom: 0.5em;
}

@media print {
  .ui.borderless.stackable.top.fixed.navbar.menu, #slidebarWrapper {
    display: none;
    height: 0;
  }
  .corner-button, .question {
    display: none;
  }

  h3.documentTitle {
    position: absolute;
    margin-top: 0;
    z-index: 10;
    top: -50px;
  }
}

#public-private-toggle input:checked~.box:before,  #public-private-toggle input:checked~label:before {
  background-color: purple!important;
  color: rgba(0,0,0,.6);
}

#public-private-toggle {
  margin: 0 .25rem 0 .25rem;
  padding: 0;
  float: right;
  height: 35px;
  background-color: #e0e1e2;
  line-height: 1rem;
  border: none;
}

#public-private-toggle label {
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 14px;
}

#public-private-toggle>.ui.toggle.checkbox {
  margin-top: 8px;
}

#flex-buttons-form {
  justify-content: flex-end;
  display: flex;
  margin: 1rem 0;
}

#formTitle {
  font-size: 2rem;
}

#formContent {
  font-size: 1.5rem;
}

#tagLine {
  font-size: 1.7em;
  font-weight: normal;
  margin-top: 1.7em;
}

#heartHeader {
  font-size: 4rem;
  font-weight: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 4rem;
  min-height: 6rem;
}

.navButton {
  margin-left: '0.5em'
}

.documentTitle {
  text-align: center;
  font-size: 2em;
  font-family: PancakeFont, FallbackFont, sans-serif;
  color: BLACK;
}

.corner-button {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 10;
}

#training-page {
  position: relative;
}

.question {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 4rem;
  z-index: 10;
}

.lines {
  font-size: 1.85rem;
  font-family: PancakeFont, FallbackFont, sans-serif;
  color: black;
  line-height: 2.4rem;
  margin-bottom: 0.3rem;
}

.blurred {
  filter: blur(3px);
  color: gray;
}

.card {
  padding: 1rem 2rem;
}


button.button-next {
  background-color: #eee;
  color: lightgray;
  font-size: 1.5em;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.passageText {
  position: relative;
  line-height: 3rem;
  font-size: 1.85rem;
  margin-bottom: 8px;
  font-family: 'Roboto Mono', sans-serif;
  color: #333;
  letter-spacing: .034em
}

.hintBox {
  font-size: 3em
}

.hintBox {
  font-size: .8em
}

button.start {
  background-color: #a333c8;
  color: white;
  font-size: 2.5rem;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
}

div.button-wrapper {
  margin: 2rem auto;
  text-align: center;
}

/* PassageTrainer css */

.decimate {
  display: block;
  background-color: white;
  text-align: center;
}

#slideBar {
  width: 80%;
  min-width: 200pxs;
}

.passageTextContainer {
  font-size: 1.85rem;
  font-family: 'Roboto Mono', sans-serif;
  color: black;
  line-height: 2.4rem;
  padding: 1rem 2rem;
}

.container {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  max-width: 900px;
}

/* Front Page */

#landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home-buttons {
  margin-top: 1rem;
  text-align: center;
}

.landing-card-img {
  width: 280px;
  box-shadow: 1px 1px 4px gray;
}


#landing-cards{
  display: flex;
  flex-flow: row wrap;
  margin-top: 5rem;
  padding: 3rem;
  justify-content: space-around;
}

#landing-cards:hover .card-landing{
  background-color: #f9f2fc;
}

.card-landing.ui.card:first-child {
  margin-top: 1rem;
}

.card-landing {
  box-shadow: 1px 1px 4px #B413EC;
  text-align: center;
  min-height: 18vw;
  padding: 1rem;
  border-radius: 3px;
  width: 310px;
  margin: 2rem 1rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 92vw;
  }

  .passageText {
    line-height: 4vw;
    font-size: 2.4vw;
    margin-bottom: 0.5vw;
  }
  
  .passageTextContainer {
    padding: 2vw;
  }

  .lines {
    font-size: 2.4vw;
    line-height: 4rem;
  }
  
}


/*
@media only screen and (max-width: 1000px) {
  #landing-cards{
    flex-wrap: wrap;
  }
    
  .card-landing {
    border: #B413EC 1px solid;
    text-align: center;
    min-height: 30vw;
    width: 40vw;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  .landing-card-img {
    width: 34vw;
  }  
} */
